@import "./variable.module.scss";

.editor_container {
  background-color: $gray7;
}

.editor .tui-editor-defaultUI-toolbar,
.tui-editor-defaultUI .CodeMirror-scroll {
  box-sizing: border-box;
  width: 50%;
}

.editor .CodeMirror-sizer {
  padding: 40px 20px !important;
}

.editor .te-md-container .te-preview {
  background-color: $gray7;
  height: calc(100% + 329px);
  outline: 1px solid $gray2;
  padding: 0 90px;
  padding-top: 270px;
  
  position: absolute;
  right: 0;
  top: -329px;
}

.editor .tui-editor-contents .te-preview-highlight::after,
.editor .tui-editor-contents td.te-preview-highlight {
  background-color: transparent;
  display: none;
}

.editor .tui-editor-contents h1,
.editor .tui-editor-contents h2,
.editor .tui-editor-contents h3,
.editor .tui-editor-contents h4,
.editor .tui-editor-contents h5,
.editor .tui-editor-contents h6 {
  border: none;
  color: $gray4;
}

.editor .te-md-container .CodeMirror,
.editor .te-preview .tui-editor-contents p {
  background-color: $gray7;
  color: $gray4;
  font-size: 18px;
  line-height: 27px;
}

.editor .tui-editor-defaultUI .CodeMirror-scroll {
  width: 100%;
}

.editor .tui-editor-defaultUI-toolbar,
.editor .te-toolbar-section {
  height: 64px;
}

.editor .te-mode-switch-section,
.editor .tui-scrollsync {
  display: none !important;
}

.CodeMirror-sizer {
  border-right-width: 1px !important;
}

.editor .CodeMirror-cursor {
  border-color: $gray4;
}

.editor .tui-editor-defaultUI-toolbar {
  align-items: center;
  background-color: $gray7;
  border-bottom: 1px solid $gray4;
  display: flex;

  button {
    margin-right: 16px;
  }

  button:nth-child(2),
  button:nth-child(7) {
    margin-right: 40px;
  }
}

.editor .tui-editor-defaultUI-toolbar button,
.editor .tui-editor-defaultUI-toolbar button:focus,
.editor .tui-editor-defaultUI-toolbar button:hover {
  background-color: transparent;
  border: none;
}

