@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@import './theme.scss';

html {
  font-family: 'Nunito Sans', 'Spoqa Han Sans Neo', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: #0d0d0d;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
button, button[type='button'] {
  outline: none;
}

main {
  width: 100%;
}
