@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@import './theme.scss';
@import './variable.module.scss';
@import './editor.scss';

html {
  font-family: 'Nunito Sans', 'Spoqa Han Sans Neo', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  padding: 0
}
body.dark {
  background-color: $gray8;
  color: $gray2;
}
body.light {
  background-color: #E5E5E5;
  color: $gray7;
}
body::-webkit-scrollbar {
  display: none;
}
button, button[type='button'] {
  outline: none;
}

main {
  width: 100%;
}

input:focus { outline: none; }