@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@import './theme.scss';

body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 120px;
}

button {
  outline: none;
}
