@import "../../../utils/styles/variable.module.scss";

.content__container {
  display: flex; 
  margin-bottom: 40px;
  width: 100%;
}

.comment__header_writer {
  display: flex;

  &.-info {
    margin-left: 16px;

    h6 {
      color: $gray2;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 4px;
    }

    span {
      color: $gray4;
      font-family: 'Blender Pro', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.1em;
      line-height: 14px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
  }

  .comment__footer_content {
    display: flex;
    justify-content: space-around;
  }
}