@import '../../../utils/styles/variable.module.scss';

.post__container {
  border: 1px solid $gray2;
  border-bottom: 0;
  border-top: none;
  margin: 0 auto;
  max-width: 820px;
  min-height: 100vh;
  padding: 120px 90px;
  padding-bottom: 0;
  @apply h-full;

  & .post__back {
    left: 40px;
    position: absolute;
    top: 44px;
  }

  & .post__submenu {
    position: absolute;
    right: 40px;
    top: 44px;
  }
}
