@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');

.mypage__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: relative;
  margin: 0 auto;
  border: 1px solid wheat;
  &_input {
    width: 100%;
  }
}