.avatar {
  &__img {
    border-radius: 100%;
  }
  &__color {
    --avatar-size: 80px;
    position: relative;
    width: var(--avatar-size);
    height: var(--avatar-size);
    margin: 1rem;
    background-color: #B5B5B5;
    border-radius: 100%;
  }
}