@import '../utils/styles/variable.module.scss';

.header {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.header__nav {
  color: $gray2;
  display: flex;
  height: $HEADER_HEIGT;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  & .nav__link {
    font-size: 20px;
    letter-spacing: 0.4em;
    line-height: 24px;
    position: relative;
  }

  & .nav__link::after {
    background: $gray2;
    content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    top: 34px;
    transform: translateX(-50%);
    width: 0px;
  }

  & .nav__link:hover::after {
    width: 15px;
  }
}

.active {
  &::after {
    width: 15px !important;
  }
}

.logo, .header__subbar {
  cursor: pointer;
}

.nav__link {
  color: $gray2;
  font-family: 'Blender Pro', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.4em;
  line-height: 24px;
  text-transform: uppercase;
}

.subbar_profile {
  height: 100%;
}
.profile_header {
  --font-base: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #DCDCDC;
  width: 100%;
  padding: 3vw 0;
  &__name {
    font-size: calc(var(--font-base) * 1.25);
    font-weight: 700;
    margin: 0;
  }
  &__email {
    font-size: var(--font-base);
  }
  &__urls {
    .icons {
      margin: 0 10px;
    }
  }
}