@import '../utils/styles/variable.module.scss';


.header {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.header__nav {
  align-items: center;
  display: flex;
  height: $HEADER_HEIGT;
  justify-content: space-between;
  padding: 0 40px;
  & .nav__link {
    font-size: 20px;
    letter-spacing: 0.4em;
    line-height: 24px;
    position: relative;
  }

  & .nav__link::after {
    background: $gray2;
    content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    top: 34px;
    transform: translateX(-50%);
    width: 0px;
  }

  & .nav__link:hover::after {
    width: 15px;
  }
}

.active {
  &::after {
    width: 15px !important;
  }
}

.logo, .header__subbar {
  cursor: pointer;
}

.nav__link {
  font-family: 'Blender Pro', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.4em;
  line-height: 24px;
  text-transform: uppercase;
}

.subbar_profile {
  align-items: center;
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: 35% 65%;
  height: 100%;
  --font-base: 1rem;
}
.profile_header {
  color: #DCDCDC;
  padding: 30% 0 10% 0;
  position: relative;
  text-align: center;
  width: 100%;
  &__name {
    font-size: calc(var(--font-base) * 1.25);
    font-weight: 700;
    margin: 5px 0;
  }
  &__email {
    font-size: var(--font-base);
    margin: 5px 0;
  }
  &__urls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    * {
      margin: 0 10px;
    }
  }
}

.profile_body {
  align-items: center;
  border-top: 1px solid #DCDCDC;
  display: flex;
  flex-direction: column;
  font-family: 'Blender Pro', sans-serif;
  height: 100%;
  padding: 20px;
  position: relative;
  button {
    cursor: pointer;
    font-size: calc(var(--font-base) * 1.2);
    letter-spacing: 0.4em;
    margin: var(--font-base) 0;
    &:last-child {
      bottom: 0;
      color: #696969;
      font-size: calc(var(--font-base) * 0.8);
      letter-spacing: 0.1em;
      position: absolute;
    }
  }
}