@import '../utils/styles/variable.module.scss';

.right_sidebar {
  height: 100vh;
  position: sticky;
  right: 0;
  top: 0;
  width: $SIDEBAR_WIDTH;

  & svg {
    cursor: pointer;
  }

  & button {
    bottom: 40px;
    position: absolute;
    right: 40px;
  }

  &--tool_box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 104px;
    justify-content: space-between;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
  }
}
